
/** main background image */
.splash {
    height: 600px;
    background-image: url('/assets/images/vienna-riesen-rad.png');
    background-size: cover;
    width: auto;
    margin-top: -91px;
}

/** offset splash container from navbar */
.splash .container {
    padding-top: 91px;
}


.splash h1 {
    font-size: 2em;
}

#google-groups {
    text-align: center;
}

.event-description {
  min-height:150px;
  max-height:150px;
  height:150px;
}

/* some spacing for footer */
footer {
    margin-top: 40px;
}