
/** main background image */
.splash {
    height: 600px;
    background-image: url('/assets/images/vienna-riesen-rad.jpg');
    background-size: cover;
    width: auto;
    margin-top: -91px;
}

/** offset splash container from navbar */
.splash .container {
    padding-top: 91px;
}


.splash h1 {
    font-size: 2em;
}

#google-groups {
    text-align: center;
}

p.entry-meta {
    margin-top: 0px;
    font-size: 0.9em;
    font-weight: 200;
}

.event-title {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.event-description {
  padding: 0;
  background-color: inherit;
  text-align: justify;
  white-space: pre;
  border: 0;
  min-height:150px;
  max-height:150px;
  height:200px;
  overflow: hidden;
}

.sponsor-name {
    text-align: center;
}

.sponsor-img-container {
    min-height: 150px;
    vertical-align: middle;
}

.sponsor-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* some spacing for footer */
footer {
    margin-top: 40px;
}

/** blog posts */
.tags {
    margin-top: 10px;
    color: #999;
}