@(posts: List[service.Post])

@layout.main("Blogs", "blogs") {

    <div class="container">

        @posts.map { post =>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="@post.link" target="_blank">@post.title</a><br><small>@post.publishedDate.map(_.format("dd.MM.yyyy HH:mm")) by @post.author</small></h3>
                </div>
                <div class="panel-body">
                    @Html(post.description.getOrElse(""))
                    <div class="tags">
                        Tags:
                        @post.categories.map { category =>
                            <span class="tag">#@category</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
}