@(upcomingEvents: Seq[MeetupEvent])

@layout.main("Start", "start") {

<!-- Front page image
================================================== -->
<div class="splash">
    <div class="container">
        <h1>Scala: Hello, Vienna Coding!</h1>
    </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">

    <br/>
    <br/>

    <div class="row">
        <div class="col-lg-2">
            <img class="img-rounded" data-src="holder.js/250x200" alt="Generic placeholder image">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <img class="img-rounded" data-src="holder.js/250x200" alt="Generic placeholder image">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <img class="img-rounded" data-src="holder.js/250x200" alt="Generic placeholder image">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <img class="img-rounded" data-src="holder.js/250x200" alt="Generic placeholder image">
        </div>
    </div>

    <br/>
    <br/>

    <div class="row events">
        <div class="col-md-8">
            <h1>Upcoming events</h1>

            @upcomingEvents.take(3).map { event =>
                <h2 class="events-heading">@event.name <span class="text-muted">@event.displayTime @event.venue.name</span></h2>
                <div class="lead event-description">
                    @Html(event.description)
                </div>
                <a class=".readMore" href="@event.url">Read more...</a>
            }

            <p><a class="btn btn-primary" href="#" role="button">More events &raquo;</a></p>

            <h1>Past events</h1>

            <h2 class="events-heading">First event. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

            <h2 class="events-heading">Second event. <span class="text-muted">It'll ALSO blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

            <h2 class="events-heading">Third event. <span class="text-muted">What else?!</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

            <p><a class="btn btn-primary" href="#" role="button">More events &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <!-- twitter test embedding -->
            <a class="twitter-timeline" href="https://twitter.com/search?q=%23scala+%23vienna+OR+%40scalavienna" data-widget-id="403297230871724032">
                Tweets über "#scala #vienna OR @@scalavienna"
            </a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
        </div>
    </div>

    <h1>Talks</h1>
    <div class="row">
        <div class="col-lg-4">
            <img class="img-rounded" data-src="holder.js/350x200" alt="Generic placeholder image">
            <h2>Monads</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-rounded" data-src="holder.js/350x200" alt="Generic placeholder image">
            <h2>Endofunctors</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-rounded" data-src="holder.js/350x200" alt="Generic placeholder image">
            <h2>Monoids</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

   <h1>Our Sponsors</h1>
    <div class="row sponsors">
        <div class="col-lg-2">
            <img class="img-rounded" data-src="holder.js/250x150" alt="Generic placeholder image">
            <h3>Sponsor name</h3>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <img class="img-rounded" data-src="holder.js/250x150" alt="Generic placeholder image">
            <h3>Sponsor name</h3>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <img class="img-rounded" data-src="holder.js/250x150" alt="Generic placeholder image">
            <h3>Sponsor name</h3>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <img class="img-rounded" data-src="holder.js/250x150" alt="Generic placeholder image">
            <h3>Sponsor name</h3>
        </div>
        <div class="col-lg-1"></div>
    </div>

</div><!-- end container -->

}


<script type="text/javascript">
    $(document).ready(function() {
        $('.event-description' ).dotdotdot({
            after: 'a.readMore'
        })
    })
</script>