@(message: String)

@main("Welcome to Play") {

    <!-- twitter test embedding -->
    <a class="twitter-timeline" href="https://twitter.com/search?q=%23scala+%23vienna+OR+%40scalavienna" data-widget-id="403297230871724032">
        Tweets über "#scala #vienna OR @@scalavienna"
    </a>
    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>

}
