@(upcomingEvents: Seq[MeetupEvent], pastEvents: Seq[MeetupEvent], photos: Seq[Photo])

@layout.main("Start", "start") {

<a class="hidden-xs" href="https://github.com/scala-vienna/scala-vienna-web"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 100500;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>

<!-- Front page image
================================================== -->
<div class="splash">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 hidden-xs">
                <img class="img-responsive" src="@routes.Assets.at("images/vienna-scala-user-group-logo_300px.png")" alt="Vienna Scala User Group Logo">
            </div>
            <div class="col-sm-8">
                <h1>Welcome to the Vienna Scala User Group.</h1>
            </div>
        </div>
    </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">

    <br/>
    <br/>

    <div class="row table">
        @photos.map { photo =>
            <div class="col-lg-3 col-sm-3 col-xs-12 thumb table-cell">
                <a href="@photo.highresUrl" class="thumbnail with-caption image-link" title="@photo.caption">
                    <img class="img-responsive" src="@photo.mediumUrl" alt="@if(photo.caption != "") { photo.caption }">
                </a>
            </div>
        }
    </div>

    <div class="row events">
        <div class="col-lg-8 col-md-8 col-xs-12">
            <div>
                <div class="row" id="upcoming">
                    <h2>Upcoming events</h2>
                    @upcomingEvents.take(2).map { event =>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title event-title">@event.name<br><small>@event.displayTime @@ @event.venue.name</small></h3>
                            </div>
                            <div class="panel-body">
                                <div class="event-description">@event.description</div>
                                <a class="btn btn-primary btn-sm pull-right" role="button" href="@event.url">Read more</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="row" id="past">
                    <h2>Past events</h2>
                    @pastEvents.take(1).map { event =>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title event-title">@event.name<br><small>@event.displayTime @@ @event.venue.name</small></h3>
                            </div>
                            <div class="panel-body">
                                <div class="event-description">@event.description</div>
                                <a class="btn btn-primary btn-sm pull-right" role="button" href="@event.url">Read more</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
            <!-- twitter test embedding -->
            <a class="twitter-timeline" href="https://twitter.com/ScalaVienna" data-widget-id="411856581454622720">Tweets by @@ScalaVienna</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>

    <div class="row talks">
        <h1>Talks</h1>
        <div class="col-lg-4">
            <img class="img-rounded" data-src="holder.js/350x200" alt="Generic placeholder image">
            <h2>Monads</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-rounded" data-src="holder.js/350x200" alt="Generic placeholder image">
            <h2>Endofunctors</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-rounded" data-src="holder.js/350x200" alt="Generic placeholder image">
            <h2>Monoids</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row sponsors">
        <h1>Our Sponsors</h1>
        <div class="col-lg-4">
            <div class="sponsor-img-container">
                <a href="http://www.openforce.at" title="openForce GmbH" target="_blank"><img class="sponsor-img" src="/assets/images/openforce_logo.png" alt="openForce GmbH"/></a>
            </div>
            <h3 class="sponsor-name">openForce GmbH</h3>
        </div>
        <div class="col-lg-4">
            <div class="sponsor-img-container">
                <a href="http://www.sektor5.at" title="Sektor5 Coworking Spaces" target="_blank"><img class="sponsor-img" src="/assets/images/sektor5_logo.png" alt="Sektor5 Coworking Spaces"/></a>
            </div>
            <h3 class="sponsor-name">Sektor5 Coworking Spaces</h3>
        </div>
        <div class="col-lg-4">
            <div class="sponsor-img-container">
                <a href="http://www.stockwerk.co.at/" title="Stockwerk Coworking" target="_blank"><img class="sponsor-img" src="/assets/images/stockwerk_logo.jpg" alt="Stockwerk Coworking"/></a>
            </div>
            <h3 class="sponsor-name">Stockwerk Coworking</h3>
        </div>
    </div>
    <div class="row sponsors">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <div class="sponsor-img-container">
                <a href="http://www.oreilly.com/" title="O'Reilly Verlag" target="_blank"><img class="sponsor-img" src="/assets/images/oreilly_badge.jpg" alt="O'Reilly Verlag"/></a>
            </div>
            <h3 class="sponsor-name">O'Reilly Verlag</h3>
        </div>
        <div class="col-lg-4">
            <div class="sponsor-img-container">
                <a href="http://www.manning.com/" title="Manning Publications" target="_blank"><img class="sponsor-img" src="/assets/images/manning_badge.jpg" alt="Manning Publications"/></a>
            </div>
            <h3 class="sponsor-name">Manning Publications</h3>
        </div>
        <div class="col-lg-2"></div>
    </div>

</div><!-- end container -->

}


<script type="text/javascript">
    $(document).ready(function() {
        $('.event-description' ).dotdotdot({
            after: 'a.readMore'
        });

        // Photo zoom
        $('.image-link').magnificPopup({type:'image'});
    })
</script>