@(photos: Seq[Photo])

@layout.main("Stream[Photo]", "photos") {

    <div class="container photos">
        @photos.grouped(6).map { photoGroup =>
        <div class="row">
            @photoGroup.map { photo =>
                <div class="col-lg-2">
                    <a href="@photo.highresUrl" class="with-caption image-link thumbnail" title="@photo.caption">
                        <img class="img-rounded img-responsive" src="@photo.mediumUrl" alt="@if(photo.caption != "") { photo.caption }">
                    </a>
                </div>
            }
        </div>
        }
    </div><!-- end photos container -->

    <script type="text/javascript">
        $(document).ready(function() {
            $('.image-link').magnificPopup({type:'image'});
        })
    </script>
}