@(photos: Seq[service.Photo])

@layout.main("Photostream", "photos") {

    <div class="container photos">

        <h1>Photos</h1>

        @photos.grouped(4).map { photoGroup =>
        <div class="row">
            @photoGroup.map { photo =>
                <div class="col-lg-3 col-md-3 col-xs-12 thumb">
                    <a href="@photo.highresUrl" class="thumbnail with-caption image-link" title="@photo.caption">
                        <img class="img-responsive" src="@photo.mediumUrl" alt="@if(photo.caption != "") { photo.caption }">
                    </a>
                </div>
            }
        </div>
        }
    </div><!-- end photos container -->

    <script type="text/javascript">
        $(document).ready(function() {
            $('.image-link').magnificPopup({type:'image'});
        })
    </script>
}