@(talks: Seq[service.Talk], speakers:Seq[String], tags:Seq[String],tagFilter:Option[String],speakerFilter:Option[String])
@layout.main("Talks", "talks") {

<div class="container">
	<div id='talks-sidebar' class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
		@if(tagFilter.isDefined || speakerFilter.isDefined) {
	    	<h4>Filter</h4>
			@tagFilter.map{ tagFilter => 
			<a href="@routes.Application.talks()" title="Remove Filter" class="badge glyphicon glyphicon-remove"> @tagFilter</a> 
			} 
			@speakerFilter.map{ speakerFilter => 
			<a href="@routes.Application.talks()" title="Remove Filter" class="label label-info glyphicon glyphicon-remove"> @speakerFilter</a> 
			} 
		}
    	<h4>Speakers</h4>
    	@for(speaker <- speakers) { 
    		<a href="@routes.Application.talks(speaker=Some(speaker))" title="Filter" class="label label-info">@speaker</a> 
    	}
    	<h4>Tags</h4>
    	@for(tag <- tags) { 
    		<a href="@routes.Application.talks(tag=Some(tag))" title="Filter" class="badge">@tag</a> 
    	}
    </div>
	<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
	@for(talk <- talks) {
		<div class="row well well-sm">
	    	<h4>
	    		<a href="@routes.Application.talk(talk.date.getYear(), talk.date.getMonthOfYear(), talk.date.getDayOfMonth(), talk.slug)">@talk.title</a>
	    	</h4>
	    	<p>
	    		<a href="@routes.Application.talks(speaker=Some(talk.speaker))" title="Filter" class="label label-info">@talk.speaker</a>
			   	<span class="label label-success">@talk.date</span>
		   	</p>
			@talk.code.map { code => <a href="@code" title="Code" target="_blank"><span class="glyphicon glyphicon-floppy-disk"></a> }
			@talk.slides.map { slides => <a href="@slides" title="Slides of the talk" target="_blank"><span class="glyphicon glyphicon-file"></span></a>}
			@talk.video.map { video => <a href="@video" title="Video of the talk" target="_blank"><span class="glyphicon glyphicon-film"></span></a>}
	    	<p>@talk.teaser</p>
	    	<p>
	    	@for(tag <- talk.tags) {
	    		<a href="@routes.Application.talks(tag=Some(tag))" title="Filter" class="badge">@tag</a>
	    	}
	    	</p>
    	</div>
    }
    </div>
</div>

}